.game {
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 4; //above credits

  .col {
    padding: 0 1em;
    margin: 0 1em;
  }
}

.coin-rotate {
  display: inline-block;
  width: 27px;
  height: 27px;
  animation: coin 1s steps(9, end) infinite;
  background: url('./coin.png');
  background-position: 0 center;
  vertical-align: bottom;

  &.nes-btn {
    transform: scale(0.75);
  }
}

@keyframes coin {
  to { background-position: -243px; }
}
